<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="org.ecom.Test.Listners"/>
</listeners>
  <test thread-count="1" name="Submit Order Test">
   <classes >
      <class name="org.ecom.pages.SubmitorderTest"/>
    </classes> 
    </test> 
    <test thread-count="1" name=" Error validation">
    <classes >
      <class name="org.ecom.pages.ErrorValidation"/>
    </classes>
  </test>
</suite>
